ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 2fr 2fr;
  grid-template-rows: 1fr;
  align-items: center;
  margin: 1rem 0.6rem;
  border-bottom: 1px solid #f0f0f0;
}

#card_usuarios li {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr;
}

.list-button {
  padding: 0.6rem 3rem;
}

.last {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr;
}
