ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 2fr 2fr;
  grid-template-rows: 1fr;
  align-items: center;
  margin: 1rem 0.6rem;
  border-bottom: 1px solid #f0f0f0;
}

#card_usuarios li {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr;
}

.list-button {
  padding: 0.6rem 3rem;
}

.last {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr;
}

.search-div{
  background: white;
  padding: .8rem;
  border: 1px solid var(--verde-agua-escuro);
  border-radius: .4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  transition: 300ms;
  outline: none;
  box-shadow: var(--buttom-shadow);
  border-color: rgba(134, 208, 203, 1);
}
.search-div input{
  margin: 0;
  border: none;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  text-align: left;
  padding-left: 1rem;
  width: 20rem;
}

.search-div img{
  border-left: 1px solid var(--verde-agua-escuro);
  padding-left: 1rem;
  width: 1.4rem;
}

.search-div button{
  padding: 0;
  box-shadow: none;
  background: none;
}
.search-div button:hover{
  padding: 0;
  background: none;
}

